*{
  box-sizing: border-box !important;
}
html {
  height: 100%;
}
body {
  font-family: '微软雅黑', Helvetica, Arial, '宋体', sans-serif;
  color: #666666;
  -webkit-backface-visibility: hidden;
  background: #ffffff;
  height: 100%;
  margin: 0 auto;
}

.clearfix:before,
.clearfix:after{
    display: table;
    content: " ";
}
.clearfix:after{
    clear: both;
}
.fr{
    float: right;
}
.fl{
    float: left;
}

.center-block{
    display: block;
    max-width: 100%;
    margin: 0 auto;
}
.nowrap{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.text-center{
    text-align: center;
}

.hide {
  display: none;
}
.show {
  display: block;
}
a {
  color: inherit;
}
.nowrap{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

